@media screen  and (max-width:720px) {
    .link-container {
        position: absolute;
        top: 20px;
        width: 100vw;
        display: grid;
        grid-template-columns: auto;
    }

    .links {
        background-color: var(--dark-grey);
        margin-bottom: 5px;
        padding: 12px;
    }
}