<div class="nav">
  <h2>Drew Gohman</h2>
  <hr>
  <a class="nav-link" href="javascript:void(0);" (click)="Scroll('abt')"><h3>About</h3></a>
  <a class="nav-link" href="javascript:void(0);" (click)="Scroll('exp')"><h3>Experience</h3></a>
  <a class="nav-link" href="javascript:void(0);" (click)="Scroll('prj')"><h3>Projects</h3></a>
  <a class="nav-link" href="javascript:void(0);" (click)="Scroll('skl')"><h3>Skills</h3></a>
  <hr>
  <a class="nav-link" href="https://github.com/BlindMosquito"><h3>GitHub</h3></a>
  <a class="nav-link" href="https://www.linkedin.com/in/drew-gohman/"><h3>LinkedIn</h3></a>
  <a class="nav-link" href="assets/doc/drew-gohman-resume.pdf" download="drew-gohman-resume.pdf"><h3>Resume</h3></a>
</div>
