@media screen and (min-width: 1200px) {

    .exp-list {
        position: relative;
        background-color: var(--black);
        color: var(--white);
        display: flex;
    }


    .exp-item {
        margin: 20px;
        flex: 50%;
        min-width: 440px;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }

}

@media screen and (max-width: 1200px) { 

    .exp-list {
        position: relative;
        background-color: var(--black);
        color: var(--white);

    }


    .exp-item {
        margin: 20px;
        min-width: 440px;
 
               max-width: 750px;
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}