@import '../style.css';

.exp-container {
    position: relative;
}

.experience-header {
    position: relative;
    height: 200px;
    background-color: var(--black);
}

.img-exp-header {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.item-experience {
    background-image: url("../images/drawing.jpg");
    background-size: cover;
}

.item-knowledge {
    background-image: url("../images/tech.jpg");
    background-size: cover;
}

.exp-content {
    position: relative;
    width: 440px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark-grey10);
}

.exp-header {
    font-size: var(--size-large);
}

.exp-category {
    font-size: var(--size-medium);
}