<img class="photo" src="./assets/img/drew.jpg" />

<div class="heading">About Me</div>
<p class="text">
  I have a diverse background that started in the construction industry, working for a family heating and air conditioning company called Gohman Mechanical. While there, I quickly recognized the inefficiencies in data entry and began searching for solutions. That's when I discovered Microsoft Access, a powerful database system that streamlined the processes. However, I soon realized its limitations and embarked on a journey to learn more about software development.
  <br><br>
  Motivated by my passion for creating efficient systems, I enrolled in drafting and AutoCAD classes, eventually leading me to the software development world. I fell in love with the possibilities offered by .NET and SQL Server, prompting me to pursue a degree in Computer Science from Portland State University. Balancing work, family, and studies was challenging, but my dedication paid off.
  <br><br>
  During my time at Gohman Mechanical, I not only excelled in IT support, managing systems including Active Directory, Exchange Server, and network infrastructure, but also became an expert in Oregon Mechanical State Code. This expertise allowed me to assist contractors and engineering firms navigate the code, ensuring smooth project inspections.
  <br><br>
  Eager to pursue my true passion, I recently transitioned to a software engineering role at SMArtX Advisory. There, I honed my skills in load-balancing tools and had the opportunity to contribute to the development of microservices for handling stock exchange market data. As a member of the market data squad, I had time to design, develop, and deploy a few solo projects while also working as part of a team, debugging and maintaining existing code. Though an unfortunate round of layoffs affected me, I remain excited about the next chapter of my software engineering journey.
  <br><br>
  As a hard-working team player with a love for learning, I thrive in collaborative environments where I can contribute to building and maintaining exceptional software solutions. I'm eager to bring my diverse experiences, problem-solving abilities, and dedication to the next challenge.
</p>
