@import '../style.css';

.project-container {
    position: relative;
}

.project-header {
    position: relative;
    height: 30vh;
    background-color: var(--black);
}

.img-project-header {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.proj-link {
    text-decoration: none;
}

.item-rustproof {
    background-image: url("../images/board.jpg");
    background-size: cover;
}

.item-dwelmer {
    background-image: url("../images/keyboard.jpg");
    background-size: cover;
}

.item-forex {
    background-image: url("../images/forex.jpg");
    background-size: cover;
}

.project-content {
    position: relative;
    width: 440px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--dark-grey50);
}

.proj-header {
    font-size: var(--size-large);
}

.project-category {
    font-size: var(--size-medium);
}