@media screen and (min-width: 1200px) {
    .project-list {
        position: relative;
        background-color: var(--black);
        color: var(--white);
        display: flex;
    }

    .project-item {
        margin: 20px;
        flex: 33%;
        height: 62vh;
        min-width: 300px;
        max-width: 750px;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (max-width: 1200px) { 

    .project-list {
        position: relative;
        background-color: var(--black);
        color: var(--white);

    }


    .project-item {
        margin: 20px;
        min-width: 440px;
        width: 100%;
 
        margin-left: auto;
        margin-right: auto;
        padding-top: 20px;
        padding-bottom: 20px;
    }
}