// Font Families
@font-face {
  font-family: 'loto';
  src: url("./assets/Lato/Lato-Regular.ttf");
}

@font-face {
  font-family: 'loto-extra-bold';
  src: url("./assets/Lato/Lato-Black.ttf");
}

@font-face {
  font-family: 'loto-bold';
  src: url("./assets/Lato/Lato-Bold.ttf");
}



$font-family-1: loto;
$font-family-2: Times New Roman;

// Colors
$color-rust: #B43511;
$color-blood-red: #5F1805;
$color-night: #101010;
$color-dim-grey: #666666;
$color-platinum: #E7E7E7;


// Font Sizes
$font-size-largest: 22pt;
$font-size-large: 20pt;
$font-size-medium: 18pt;
$font-size-default: 16pt;

// Font Weights
$font-weight-bold-extra : 800;
$font-weight-bold : 700;
$font-weight-bold-semi : 600;
$font-weight-normal : 400;

body {
  background-color: $color-platinum;
  color: $color-dim-grey;
  font-family: $font-family-1, $font-family-2;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
}

.heading {
  color: $color-rust;
  font-size: $font-size-large;
  font-weight: $font-weight-bold;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.heading-main {
  color: $color-blood-red;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold-semi;
}

.heading-minor {
  color: $color-dim-grey;
  font-size: $font-size-medium;
  font-weight: $font-weight-bold-semi;
  font-style: italic;
}

.heading-sub {
  color: $color-night;
  font-size: $font-size-default;
  font-weight: $font-weight-bold-semi;
}

.text {
  color: $color-night;
  font-size: $font-size-default;
  font-weight: $font-weight-normal;
}

.my-name {
  color: $color-blood-red;
  font-size: $font-size-largest;
  font-weight: $font-weight-bold-extra;
}

.nav-link {
  color: $color-dim-grey;
  text-decoration: none;
}

.nav-link:hover {
  color: $color-rust;
}


.nav-selected {
  color: $color-blood-red;
}

